header .information-section .information-section__text-conteiner p {
  width: 95%;
  font-size: 1.57rem;
  margin: 0 auto;
  letter-spacing: 0.05rem;
}

header .navbar-section a {
  width: 25.2rem;
  height: 3.7rem;
  top: 2.1rem;
  left: calc(50% - 12.6rem);
  padding-top: 0.85rem;
  font-size: 1.85rem;
  letter-spacing: -0.02rem;
}

main .interchange-section .interchange-section__container-1 p {
  width: 85%;
  font-size: 1.57rem;
}

main .interchange-section .interchange-section__container-3 p {
  font-size: 1.5rem;
}

main .interchange-section .interchange-section__container-2 table tr {
  font-size: 1.575rem;
  font-weight: 500;
}

main .benefit-section .benefit-section__container-1 p {
  font-size: 1.57rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 {
  height: 15.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div img {
  width: 2.6rem;
  height: 2.6rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 h4 {
  font-size: 1.82rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 p {
  font-size: 1.65rem;
  font-weight: 100;
  line-height: 1.98rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 {
  height: 15.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div img {
  width: 2.6rem;
  height: 2.6rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 h4 {
  font-size: 1.82rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 p {
  font-size: 1.65rem;
  font-weight: 100;
  line-height: 1.98rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 {
  height: 15.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div img {
  width: 2.6rem;
  height: 2.6rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 h4 {
  font-size: 1.82rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 p {
  font-size: 1.65rem;
  font-weight: 100;
  line-height: 1.98rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 {
  height: 15.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div img {
  width: 2.6rem;
  height: 2.6rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 h4 {
  font-size: 1.82rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 p {
  font-size: 1.65rem;
  font-weight: 100;
  line-height: 1.98rem;
}

main .hero-section .hero-section__photo-container h3 {
  font-size: 2.6rem;
}

main .plans-section .plans-section__conteiner-1 p {
  font-size: 1.57rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .float-text {
  width: 69%;
  height: 3rem;
  left: calc(50% - 6.6rem);
  top: -1.45rem;
  font-size: 1.65rem;
  letter-spacing: 0.05rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .saveing-text {
  font-size: 1.3rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 button {
  width: 83%;
  font-size: 1.95rem;
  font-weight: 500;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .float-text {
  width: 69%;
  height: 3rem;
  left: calc(50% - 6.6rem);
  top: -1.45rem;
  font-size: 1.65rem;
  letter-spacing: 0.05rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .saveing-text {
  font-size: 1.3rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 button {
  width: 83%;
  font-size: 1.95rem;
  font-weight: 500;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .float-text {
  width: 69%;
  height: 3rem;
  left: calc(50% - 6.6rem);
  top: -1.45rem;
  font-size: 1.65rem;
  letter-spacing: 0.05rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .saveing-text {
  font-size: 1.3rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 button {
  width: 83%;
  font-size: 1.95rem;
  font-weight: 500;
}

footer .section-contacts a {
  font-size: 1.5rem;
}

footer .section-logo {
  height: 6.8rem;
}