header .information-section .information-section__logo-container img {
  width: 17rem;
  height: 5rem;
}

header .information-section .information-section__text-conteiner h1 {
  width: 90%;
  font-size: 2.57rem;
  letter-spacing: 0.02rem;
}

header .information-section .information-section__text-conteiner p {
  font-size: 1.75rem;
}

header .navbar-section a {
  width: 29rem;
  height: 3.72rem;
  left: calc(50% - 14.5rem);
  font-size: 2.2rem;
  line-height: 2.05rem;
  letter-spacing: -0.03rem;
}

header .navbar-section a span {
  margin-left: 0.3rem;
  width: 1.7rem;
  height: 1.4rem;
}

main .interchange-section .interchange-section__container-1 h3 {
  font-size: 2.57rem;
}

main .interchange-section .interchange-section__container-1 p {
  font-size: 1.75rem;
  line-height: 1.85rem;
}

main .interchange-section .interchange-section__container-2 h4 {
  font-size: 1.95rem;
}

main .interchange-section .interchange-section__container-2 div {
  margin-top: 7.8rem;
}

main .interchange-section .interchange-section__container-2 table {
  height: 18.5rem;
}

main .interchange-section .interchange-section__container-2 table tr {
  font-size: 1.8rem;
}

main .interchange-section .interchange-section__container-2 table tr .color-change {
  font-size: 1.86rem;
}

main .interchange-section .interchange-section__container-2 table .file-1 .file-1__column-2 span {
  width: 1.7rem;
  height: 1.7rem;
}

main .interchange-section .interchange-section__container-2 table .file-2 .file-2__column-2 span {
  width: 1.7rem;
  height: 1.7rem;
}

main .interchange-section .interchange-section__container-2 table .file-3 .file-3__column-2 span {
  width: 1.7rem;
  height: 1.7rem;
}

main .interchange-section .interchange-section__container-2 table .file-4 .file-4__column-2 span {
  width: 1.7rem;
  height: 1.7rem;
}

main .interchange-section .interchange-section__container-3 p {
  font-size: 1.7rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

main .benefit-section .benefit-section__container-1 h3 {
  font-size: 2.57rem;
}

main .benefit-section .benefit-section__container-1 p {
  font-size: 1.75rem;
  letter-spacing: 0.02rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 {
  height: 16.3rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div {
  margin-bottom: 1.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div img {
  width: 2.9rem;
  height: 2.9rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 h4 {
  font-size: 2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 p {
  font-size: 1.88rem;
  letter-spacing: 0.015rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 {
  height: 16.3rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div {
  margin-bottom: 1.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div img {
  width: 2.9rem;
  height: 2.9rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 h4 {
  font-size: 2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 p {
  font-size: 1.88rem;
  letter-spacing: 0.015rem;
}

/***************************************************************************************/
main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 {
  height: 16.3rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div {
  margin-bottom: 1.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div img {
  width: 2.9rem;
  height: 2.9rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 h4 {
  font-size: 2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 p {
  font-size: 1.88rem;
  letter-spacing: 0.015rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 {
  height: 16.3rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div {
  margin-bottom: 1.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div img {
  width: 2.9rem;
  height: 2.9rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 h4 {
  font-size: 2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 p {
  font-size: 1.88rem;
  letter-spacing: 0.015rem;
}

main .hero-section .hero-section__photo-container h3 {
  font-size: 2.9rem;
}

main .plans-section .plans-section__conteiner-1 h3 {
  font-size: 2.57rem;
}

main .plans-section .plans-section__conteiner-1 p {
  font-size: 1.75rem;
  line-height: 1.85rem;
}

main .plans-section .plans-section__cards-conteiner {
  min-height: 28.7rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 {
  min-width: 21rem;
  max-width: 21.5rem;
  height: 25.75rem;
  margin-left: 1.22rem;
  margin-right: 1rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .float-text {
  width: 69%;
  height: 3.5rem;
  left: calc(50% - 7.25rem);
  top: -1.6rem;
  font-size: 1.9rem;
  letter-spacing: 0.05rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 h4 {
  width: 60%;
  padding-top: 3.6rem;
  font-size: 1.9rem;
  line-height: 1.85rem;
  font-weight: 600;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .price-text {
  font-size: 5.1rem;
  margin: 2.2rem auto
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .price-text span {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  top: -1.2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .saveing-text {
  font-size: 1.45rem;
  line-height: 1.79rem;
  margin-bottom: 2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 button {
  width: 83%;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 button span {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.5rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 {
  min-width: 21rem;
  max-width: 21.5rem;
  height: 25.75rem;
  margin-left: 1.22rem;
  margin-right: 1rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .float-text {
  width: 69%;
  height: 3.5rem;
  left: calc(50% - 7.25rem);
  top: -1.6rem;
  font-size: 1.9rem;
  letter-spacing: 0.05rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 h4 {
  width: 60%;
  padding-top: 3.6rem;
  font-size: 1.9rem;
  line-height: 1.85rem;
  font-weight: 600;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .price-text {
  font-size: 5.1rem;
  margin: 2.2rem auto
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .price-text span {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  top: -1.2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .saveing-text {
  font-size: 1.45rem;
  line-height: 1.79rem;
  margin-bottom: 2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 button {
  width: 83%;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 button span {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.5rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 {
  min-width: 21rem;
  max-width: 21.5rem;
  height: 25.75rem;
  margin-left: 1.22rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .float-text {
  width: 69%;
  height: 3.5rem;
  left: calc(50% - 7.25rem);
  top: -1.6rem;
  font-size: 1.9rem;
  letter-spacing: 0.05rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 h4 {
  width: 60%;
  padding-top: 3.6rem;
  font-size: 1.9rem;
  line-height: 1.85rem;
  font-weight: 600;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .price-text {
  font-size: 5.1rem;
  margin: 2.2rem auto
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .price-text span {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  top: -1.2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .saveing-text {
  font-size: 1.45rem;
  line-height: 1.79rem;
  margin-bottom: 2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 button {
  width: 83%;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 button span {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.5rem;
}

main .plans-section .plans-section__slider .plans-section__direction-left {
  height: 25.7rem;
  margin-top: 0.6rem;
}

main .plans-section .plans-section__slider .plans-section__direction-right {
  height: 25.7rem;
  margin-top: 0.6rem;
}