main .interchange-section .interchange-section__container-2 table tr .color-change {
  font-size: 1.56rem;
}

main .interchange-section .interchange-section__container-2 table {
  width: 80%;
  height: 16rem;
  margin: 0 auto;
}