header {
  height: 370px;
}

header .information-section .information-section__logo-container {
  height: 12rem;
}

header .information-section .information-section__logo-container img {
  width: 28.5rem;
  height: 8rem;
}

header .information-section .information-section__text-conteiner h1 {
  font-size: 3.75rem;
  line-height: 3.4rem;
  margin: 0.5rem auto;
}

header .information-section .information-section__text-conteiner p {
  width: 81.5%;
  font-size: 2.76rem;
  line-height: 3.1rem;
  letter-spacing: 0.05rem;
}

header .navbar-section a {
  width: 46.5rem;
  height: 6.6rem;
  top: 7.6rem;
  left: calc(50% - 23.4rem);
  padding-bottom: 2.5rem;
  padding-top: 2.1rem;
  padding-left: 1.5rem;
  font-size: 3.4rem;
  line-height: 2.1rem;
}

header .navbar-section a span {
  width: 3.1rem;
  height: 1.7rem;
  margin-left: 0.4rem;
}

main .interchange-section .interchange-section__container-1 div {
  padding-top: 7.5rem;
}

main .interchange-section .interchange-section__container-1 div img {
  width: 30rem;
  height: 30rem;
}

main .interchange-section .interchange-section__container-1 h3 {
  font-size: 3.8rem;
}

main .interchange-section .interchange-section__container-1 p {
  font-size: 2.76rem;
  line-height: 2.8rem;
  padding-bottom: 5rem;
}

main .interchange-section .interchange-section__container-2 h4 {
  font-size: 3.2rem;
  margin-bottom: 0.75rem;
}

main .interchange-section .interchange-section__container-2 div {
  width: 92%;
  margin-top: 14.3rem;
}

main .interchange-section .interchange-section__container-2 div .direction__right {
  width: 5.2rem;
  height: 4rem;
}

main .interchange-section .interchange-section__container-2 div .direction__left {
  width: 5rem;
  height: 3.9rem;
}

main .interchange-section .interchange-section__container-2 table {
  width: 75%;
  height: 33rem;
}

main .interchange-section .interchange-section__container-2 table tr {
  font-size: 3.2rem;
}

main .interchange-section .interchange-section__container-2 table tr .color-change {
  font-size: 3.2rem;
}

main .interchange-section .interchange-section__container-2 table tr .padding-change {
  padding-left: 2rem;
}

main .interchange-section .interchange-section__container-2 table .file-1 .file-1__column-2 span {
  width: 2.7rem;
  height: 2.7rem;
}

main .interchange-section .interchange-section__container-2 table .file-2 .file-2__column-2 span {
  width: 2.7rem;
  height: 2.7rem;
}

main .interchange-section .interchange-section__container-2 table .file-3 .file-3__column-2 span {
  width: 2.7rem;
  height: 2.7rem;
}

main .interchange-section .interchange-section__container-2 table .file-4 .file-4__column-2 span {
  width: 2.7rem;
  height: 2.7rem;
}

main .interchange-section .interchange-section__container-3 {
  padding-bottom: 9.5rem;
}

main .interchange-section .interchange-section__container-3 p {
  font-size: 2.94rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

main .benefit-section .benefit-section__container-1 div {
  top: -3.5rem;
}

main .benefit-section .benefit-section__container-1 div img {
  width: 7.5rem;
  height: 7.5rem;
}

main .benefit-section .benefit-section__container-1 h3 {
  font-size: 3.8rem;
}

main .benefit-section .benefit-section__container-1 p {
  font-size: 2.76rem;
}

main .benefit-section .benefit-section__cards-container {
  margin-top: 4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 {
  height: 22.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div {
  margin-bottom: 2.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div img {
  width: 4.8rem;
  height: 4.8rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 h4 {
  font-size: 3.5rem;
  margin-bottom: 2.55rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 p {
  font-size: 2.8rem;
  line-height: 3.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 {
  height: 22.1rem;
  margin: 2.8rem auto;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div {
  margin-bottom: 2.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div img {
  width: 4.8rem;
  height: 4.8rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 h4 {
  font-size: 3.5rem;
  margin-bottom: 2.55rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 p {
  font-size: 2.8rem;
  line-height: 3.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 {
  height: 22.1rem;
  margin: 2.8rem auto;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div {
  margin-bottom: 2.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div img {
  width: 4.8rem;
  height: 4.8rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 h4 {
  font-size: 3.5rem;
  margin-bottom: 2.55rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 p {
  font-size: 2.8rem;
  line-height: 3.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 {
  height: 22.1rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div {
  margin-bottom: 2.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div img {
  width: 4.8rem;
  height: 4.8rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 h4 {
  font-size: 3.5rem;
  margin-bottom: 2.55rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 p {
  font-size: 2.8rem;
  line-height: 3.1rem;
}

main .hero-section .hero-section__photo-container h3 {
  font-size: 4.7rem;
}

main .plans-section .plans-section__conteiner-1 h3 {
  width: 90%;
  font-size: 3.8rem;
}

main .plans-section .plans-section__conteiner-1 p {
  font-size: 2.75rem;
  line-height: 2.7rem;
}

main .plans-section {
  height: 68rem;
}

main .plans-section .plans-section__cards-conteiner {
  min-height: 43.2rem;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 {
  min-width: 31rem;
  max-width: 21.5rem;
  height: 39rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .float-text {
  width: 70.6%;
  height: 4.5rem;
  left: calc(50% - 10.9rem);
  top: -1.8rem;
  font-size: 2.75rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 h4 {
  font-size: 2.77rem;
  padding-top: 5.6rem;
  line-height: 1.95rem;
  padding-bottom: 0.75rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .price-text {
  font-size: 7.8rem;
  margin: 3.9rem auto;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .price-text span {
  font-size: 2.7rem;
  top: -1.8rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .saveing-text {
  font-size: 2.4rem;
  line-height: 2.3rem;
  margin-bottom: 2.5rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 button {
  width: 87%;
  height: 7.2rem;
  font-size: 3.25rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 button span {
  width: 3.8rem;
  height: 4.4rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 {
  min-width: 31rem;
  max-width: 21.5rem;
  height: 39rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .float-text {
  width: 70.6%;
  height: 4.5rem;
  left: calc(50% - 10.9rem);
  top: -1.8rem;
  font-size: 2.75rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 h4 {
  font-size: 2.77rem;
  padding-top: 5.6rem;
  line-height: 1.95rem;
  padding-bottom: 0.75rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .price-text {
  font-size: 7.8rem;
  margin: 3.9rem auto;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .price-text span {
  font-size: 2.7rem;
  top: -1.8rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .saveing-text {
  font-size: 2.4rem;
  line-height: 2.3rem;
  margin-bottom: 2.5rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 button {
  width: 87%;
  height: 7.2rem;
  font-size: 3.25rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 button span {
  width: 3.8rem;
  height: 4.4rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 {
  min-width: 31rem;
  max-width: 21.5rem;
  height: 39rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .float-text {
  width: 70.6%;
  height: 4.5rem;
  left: calc(50% - 10.9rem);
  top: -1.8rem;
  font-size: 2.75rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 h4 {
  font-size: 2.77rem;
  padding-top: 5.6rem;
  line-height: 1.95rem;
  padding-bottom: 0.75rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .price-text {
  font-size: 7.8rem;
  margin: 3.9rem auto;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .price-text span {
  font-size: 2.7rem;
  top: -1.8rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .saveing-text {
  font-size: 2.4rem;
  line-height: 2.3rem;
  margin-bottom: 2.5rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 button {
  width: 87%;
  height: 7.2rem;
  font-size: 3.25rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 button span {
  width: 3.8rem;
  height: 4.4rem;
}

main .plans-section .plans-section__slider .plans-section__direction-left {
  height: 39.1rem;
}

main .plans-section .plans-section__slider .plans-section__direction-left a {
  width: 5.5rem;
  height: 5.5rem;
}

main .plans-section .plans-section__slider .plans-section__direction-right {
  height: 39.1rem;
}

main .plans-section .plans-section__slider .plans-section__direction-right a {
  width: 5.5rem;
  height: 5.8rem;
}

footer {
  height: 19rem;
}

footer .section-contacts a {
  font-size: 2.7rem;
}

footer .section-logo {
  height: 11rem;
}