header .information-section .information-section__logo-container img {
  width: 24rem;
  height: 4.5rem;
}

header .information-section .information-section__text-conteiner h1 {
  font-size: 2.99rem;
}

header .information-section .information-section__text-conteiner p {
  width: 81%;
  font-size: 2.4rem;
}

header .navbar-section a {
  width: 37.2rem;
  left: calc(50% - 18.62rem);
  font-size: 2.7rem;
  font-weight: 570;
}

main .interchange-section .interchange-section__container-1 h3 {
  font-size: 2.99rem;
}

main .interchange-section .interchange-section__container-1 p {
  font-size: 2.4rem;
  line-height: 2.6rem;
}

main .interchange-section .interchange-section__container-2 h4 {
  font-size: 2.56rem;
}

main .interchange-section .interchange-section__container-2 table tr {
  font-size: 2.4rem;
}

main .interchange-section .interchange-section__container-2 table tr .color-change {
  font-size: 2.77rem;
}

main .interchange-section .interchange-section__container-2 table .file-1 .file-1__column-2 span {
  width: 2.5rem;
  height: 2.5rem;
}

main .interchange-section .interchange-section__container-2 table .file-2 .file-2__column-2 span {
  width: 2.5rem;
  height: 2.5rem;
}

main .interchange-section .interchange-section__container-2 table .file-3 .file-3__column-2 span {
  width: 2.5rem;
  height: 2.5rem;
}

main .interchange-section .interchange-section__container-2 table .file-4 .file-4__column-2 span {
  width: 2.5rem;
  height: 2.5rem;
}

main .interchange-section .interchange-section__container-3 p {
  font-size: 2.45rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

main .benefit-section .benefit-section__container-1 div {
  top: -2.85rem;
}

main .benefit-section .benefit-section__container-1 div img {
  width: 6rem;
  height: 6rem;
}

main .benefit-section .benefit-section__container-1 h3 {
  font-size: 2.99rem;
}

main .benefit-section .benefit-section__container-1 p {
  font-size: 2.4rem;
  line-height: 2.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 {
  height: 17.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 {
  height: 17.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 {
  height: 17.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 {
  height: 17.2rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div {
  margin-bottom: 1.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div {
  margin-bottom: 1.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div {
  margin-bottom: 1.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div {
  margin-bottom: 1.5rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 div img {
  width: 3.95rem;
  height: 3.95rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 div img {
  width: 3.95rem;
  height: 3.95rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 div img {
  width: 3.95rem;
  height: 3.95rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 div img {
  width: 3.95rem;
  height: 3.95rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 h4 {
  font-size: 2.36rem;
  margin-bottom: 1.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 h4 {
  font-size: 2.36rem;
  margin-bottom: 1.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 h4 {
  font-size: 2.36rem;
  margin-bottom: 1.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 h4 {
  font-size: 2.36rem;
  margin-bottom: 1.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-1 p {
  font-size: 2.335rem;
  line-height: 2.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-2 p {
  font-size: 2.335rem;
  line-height: 2.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-3 p {
  font-size: 2.335rem;
  line-height: 2.4rem;
}

main .benefit-section .benefit-section__cards-container .benefit-section__card-container-4 p {
  font-size: 2.335rem;
  line-height: 2.4rem;
}

main .hero-section .hero-section__photo-container h3 {
  font-size: 3.8rem;
}

main .plans-section .plans-section__conteiner-1 h3 {
  font-size: 2.99rem;
}

main .plans-section .plans-section__conteiner-1 p {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

main .plans-section .plans-section__cards-conteiner {
  min-height: 31rem;
}

main .plans-section .plans-section__slider .plans-section__direction-left {
  height: 28.2rem;
  margin-top: 0rem;
}

main .plans-section .plans-section__slider .plans-section__direction-left a {
  width: 3.7rem;
  height: 3.7rem;
}

main .plans-section .plans-section__slider .plans-section__direction-right {
  height: 28.2rem;
  margin-top: 0rem;
}

main .plans-section .plans-section__slider .plans-section__direction-right a {
  width: 3.7rem;
  height: 3.7rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 {
  min-width: 22.2rem;
  max-width: 23.5rem;
  height: 27.8rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .float-text {
  width: 65%;
  height: 3.6rem;
  left: calc(50% - 7.2rem);
  top: -1.7rem;
  font-size: 1.95rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 h4 {
  width: 65%;
  font-size: 2.3rem;
  font-weight: 650;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .price-text {
  font-size: 6rem;
  margin: 2.5rem auto;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .price-text span {
  font-size: 2.2rem;
  top: -1.42rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 .saveing-text {
  font-size: 1.85rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-1 button {
  font-size: 2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 {
  min-width: 22.2rem;
  max-width: 23.5rem;
  height: 27.8rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .float-text {
  width: 65%;
  height: 3.6rem;
  left: calc(50% - 7.2rem);
  top: -1.7rem;
  font-size: 1.95rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 h4 {
  width: 65%;
  font-size: 2.3rem;
  font-weight: 650;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .price-text {
  font-size: 6rem;
  margin: 2.5rem auto;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .price-text span {
  font-size: 2.2rem;
  top: -1.42rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 .saveing-text {
  font-size: 1.85rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-2 button {
  font-size: 2rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 {
  min-width: 22.2rem;
  max-width: 23.5rem;
  height: 27.8rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .float-text {
  width: 65%;
  height: 3.6rem;
  left: calc(50% - 7.2rem);
  top: -1.7rem;
  font-size: 1.95rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 h4 {
  width: 65%;
  font-size: 2.3rem;
  font-weight: 650;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .price-text {
  font-size: 6rem;
  margin: 2.5rem auto;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .price-text span {
  font-size: 2.2rem;
  top: -1.42rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 .saveing-text {
  font-size: 1.85rem;
}

main .plans-section .plans-section__cards-conteiner .plans-section__cards-conteiner-3 button {
  font-size: 2rem;
}

footer .section-contacts a {
  font-size: 1.96rem;
}

footer .section-logo {
  height: 8.7rem;
}